@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --text: 15 23 42;
}

.dark {
  --bg: 15 23 42;
  --text: 241 245 249;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
